body {
  font-family: "CircularStd";
  background: url("../img/bg.png") no-repeat center center fixed;
  background-size: cover;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

.App {
  text-align: center;
}
.sos-logo {
  margin: 5.4vh 0;
}
.sos-logo > img {
  width: 15%;
  height: 15%;
  min-width: 139px;
  min-height: 62px;
}
.sos-teaser-video {
  display: flex;
  justify-content: center;
}
.sos-vid-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 48vmax;
  height: 21.03vmax;
  margin: 0 auto;
}
.sos-vid {
  width: 50vmax;
  height: 21.03vmax;
}
.sos-countdown-timer {
  margin: 3.1vh 0;
  font-size: 32px;
}
.sos-buttons-section {
  margin-top: 2.9vh;
}
.link-button {
  width: 140px;
  height: 34px;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 0px 10px;
}
@media only screen and (max-width: 320px) {
  .link-button {
    margin: 0px 5px;
  }
}
.link-button:hover,
.link-button:focus {
  text-decoration: none;
  cursor: pointer;
}
.sos-info-button {
  border: 1px solid black;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  font-size: 15px;
  text-align: center;
}
.sos-noti-button {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.mid-size-text {
  font-size: 20px;
}
footer {
  margin-top: 7.5vh;
}
footer > * {
  margin: 0 2.1vw;
}
.newsletter-modal {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
  justify-content: center;
}
.newsletter-modal-content {
  background: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
  margin-top: 27.5vh;
  border-radius: 5px;
  height: 346px;
  width: 300px;
  animation-name: animatetop;
  animation-duration: 0.7s;
}
@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-icon {
  margin: 40px auto;
  height: 78px;
  width: 78px;
}
.modal-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.74px;
  text-align: center;
}
.modal-subtitle {
  margin: 17px 0;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.52px;
  text-align: center;
}
.modal-input {
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  font-size: 13px;
  font-style: italic;
  color: #696969;
  letter-spacing: -0.55px;
  text-align: center;
  width: 244px;
  height: 31px;
  text-align: left;
  padding-left: 8px;
}
.modal-button {
  margin: 17px auto;
  display: block;
  background: #e8592e;
  border: 1px solid #979797;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.91px;
  text-align: center;
  height: 34px;
  width: 97px;
}
.close {
  color: #d8d8d8;
  float: right;
  font-size: 47px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  body {
    font-family: "CircularStd";
    background: url("../img/bg-mobile.png") no-repeat center center fixed;
    background-size: cover;
    min-width: 300px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer > * {
    margin: 0.45vh 0;
  }
  .sos-vid {
    margin: 0;
    width: 100vw;
    height: 42.91vw;
  }
}

.countdown {
  margin: auto;
}
.count-box {
  display: inline-block;
  margin: 0 12px;
}
.count-box-value {
  font-size: 50px;
  color: #bbbbbb;
  letter-spacing: -1.2px;
  text-align: center;
}
.count-box-title {
  font-size: 15px;
  color: #bbbbbb;
  letter-spacing: -0.36px;
  text-align: center;
}
